.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .main-page {
    text-align: center; /* Center text and buttons within the div */
  }
  